<html lang="en">
<head>
    <title>My Page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {{ template "live_reload_script" }}
</head>
<body>
<p>
    Hello World!!!
</p>
</body>
</html>